/* Basic */

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(./assets/fonts/tommy-reg.otf) format('opentype');
  font-weight: bolder;
}

@font-face {
  font-family: 'Lato Light';
  src: local('Lato'), url(./assets/fonts/tommy-light.otf) format('opentype');
}

:root {
  --lightBeige: #fff8f2;
  --beige: #FFF3E8;
  --darkBeige: #f6e2ce;

  --lightGrey: #939598;
  --grey: #58595B;
  --black: #231F20;

  --lightAqua: #3C8985;
  --aqua: #006A62;
  --darkAqua: #014943;

  --lightOrange: #F8AF82;
  --orange: #FF914D;
  --darkOrange: #EB7E3C;
}

/* * {
  outline: red dashed 1px;
} */

html {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--lightBeige);
  margin: 1vh 2vw 1vh 2vw;
  height: 100%;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

button {
  border-radius: 2vmax;
  border:none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

p {
  font-family: 'Lato', serif;
}

h1 {
  font-family: 'Lato', serif;
  font-size: 5vmax;
  color:var(--black);
  font-weight:bold;
}


.title {
  font-family: 'Lato', serif;
  font-size: 3vmax;
  color:var(--black);
  font-weight:bold;
}

.subtitle {
  font-family: 'Lato Light', serif;
  font-size: 1vmax;
  color:var(--grey);
  line-height: 1.8vmax;
  font-weight:bold;
}

.indented {
  margin: 0 0 0 2vw;
}

.break {
  flex-basis: 100%;
  height: 1vh;
  width: 100%;
}

.arrowButtonContainer {
  height: 100%;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  .button {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
  }
}

.hidden {
  height: 0 !important;
}

/* Header */

.headerContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  .logoContainer {
    display: inline-flex;
    position: relative;
    width: fit-content;
    height: 20vh;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
  } 
  .logo {
    width: fit-content;
    height:10vmax;
  }
  .text {
    height: 30vh;
    width: fit-content;
    max-width: 30vw;
  }
}

/* Navbar */

.navbarContainer {
  height: 8vh;
  width: 50%;
  flex-wrap: nowrap;
  background-color: var(--aqua);
  border-radius: 2vmax;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  float: right;
  .button {
    width: 100%;
    height: 100%;
    background-color: var(--aqua);
    padding: 0 1vw 0 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    text-decoration: none;
    border-radius: 2vmax;
    .subtitle {
      text-align: center;
      font-size: 1vmax;
      white-space: nowrap;
      color:var(--beige);
    }
  }
  .active {
    background-color: var(--darkAqua);
  }
}

/* Footer */

.footerContainer {
  display: flex;
  z-index: -1;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0;
  height: 8vh;
  border-radius: 2vmax 2vmax 0 0;
  background-color: var(--aqua);
  .subtitle {
    font-size: .75vmax;
    color:var(--beige);
  }

}

/* Homepage */

.homepageContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  min-height: 80vh;
  height: fit-content;
  .infoContainer {
    .text {
      width: 100%;
      height: fit-content;
      display:block;
    }
    .buttons {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      height: 10vh;
      margin: 0 0 5vh 0;
      .homeButton {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        border-radius: 2vmax;
        background-color: var(--orange);
        height: fit-content;
        width: fit-content;
        padding: 1vh 2vw 1vh 2vw;
        margin: 0 2vw 0 2vw;
        display: flex;
        border-radius: 2vmax;
        text-decoration: none;
      }
    }
  }
}

.carrouselContainer {
  height: fit-content;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  .carrousel {
    display: flex;
    justify-content: center;
    width: 100%;
    .photosContainer {
      overflow: hidden;
      border-radius: 2vmax;
      justify-content: center;
      display: flex;
      height: fit-content;
      width: 100%;
      .carrouselPhotoContainer {
        height: 100%;
        width: 100%;
        border-radius: 2vmax;
      }
      .image {
        align-self: center;
        object-fit:fill;
        opacity: 100%;
        animation-name:fadeIn;
        animation-duration: .5s;
      }
    }
  }
  .textContainer {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vh 0 2vh 0;
    .subtitle {
      font-size: 0.8vmax;
      margin: 0;
    }
  }
}

/* About */

.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 80vh;
  height: fit-content;
  .info {
    display: block;
    height: fit-content;
    width: 100%;
  }
  .ourTeamContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
    .ourTeamTitle {
      display: inline-flex;
      width: 100%;
      justify-content: space-between;
      margin: 2vh 0 0 0;
      .bar {
        width: 75%;
        height: 3vh;
        border-radius: 2vmax;
        background-color: var(--orange);
        color: var(--orange);
        align-self: center;
      }
    }
    .photos {
      width: 100%;
      border-radius: 2vmax;
      height: fit-content;
      margin: 0 0 3vh 0;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      .employeePhotoContainer {
        margin: 0 2vw 0 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        height: fit-content;
        .image {
          width: 15vw;
          border-radius: 30vmax;
        }
        .description {
          opacity: 0;
          display: inline-block;
          color: var(--black);
          position: absolute;
        }
        .subtitle {
          margin: auto;
          text-align: center;
          bottom: 25vh;
        }
      }
      .employeePhotoContainer:not(.noHover):hover > .image {
        opacity: 50%;
      }
      .employeePhotoContainer:not(.noHover):hover > .description {
          opacity: 100%;
      }
    }
    .employeeInfo {
      display: flex;
      justify-content: space-between;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 80%;
      height: 80%;
      .background {
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 10;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        height: 100%;
      }
      .content {
        background-color: var(--beige);
        border-radius: 2vmax;
        padding: 1vh 1vw 1vh 1vw;
        z-index: 100;
        display: flex;
        flex-direction: column;
        .info {
          display: flex;
          .image {
            opacity: 100%;
            height: 40vh;
            border-radius: 2vmax;
          }
        }
      }
    }
    .background:hover {
      cursor: pointer;
    }
  }
}

/* Spectra */

.spectraContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  .header {
    display:flex;
    width: 100%;
    height: 100%;
    justify-content:space-between;
    align-items: center;
    .slider {
      padding: 1vh 0.5vw 1vh 0.5vw;
      border-radius: 2vmax;
      float: right; /* fix */
      display: flex;
      background-color: var(--darkAqua);
      width: fit-content;
      height: fit-content;
      .background {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--aqua);
        border-radius: 2vmax;
        .button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: fit-content;
          height: fit-content;
          padding: 0.5vw 1vw 0.5vw 1vw;
          background-color: var(--beige);
          .subtitle {
            color: var(--black);
            margin: 0;
          }
        }
        .active {
          background-color: var(--aqua);
          .subtitle {
            color: var(--beige)
          }
        }
      }
    }
  }
  .mapContainer {
    width: 100%;
    .header {
      width: 100%;
      height: fit-content;
      display:flex;
      justify-content: space-between;
    }
    .mapAndInfo {
      display: flex;
      width: 100%;
      #map {
        border-radius: 2vmax;
        display: flex;
        height: 80vh;
        width: 100%;
        margin: 2vh 0 2vh 0;
        overflow: hidden;
        .full-height-map {
          height: 100%;
          width: 100%;
          .marker {
            font-size: 1.2vmax;
            color: var(--orange);
          }
        }
      }
      .info {
        display: block;
        background-color: var(--beige);
        width: 100%;
        height: 80vh;
        margin: 1vh 0 0 1vw;
        overflow: hidden;
        border-radius: 2vmax;
      }
      .hidden {
        width: 0;
      }
    }
  }
  .tableContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 0 0;
    height: 100%;
    width: 100%;
    .header {
      width: 100%;
      height: fit-content;
      display:flex;
      justify-content: space-between;
    }
    .infoContainer {
      display: flex;
      width: 100%;
      height: 35vh;
      .tableInfoDivider {
        height: inherit;
        width: 100%;
        margin: 2vh 1vw 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: var(--lightAqua);
        border-radius: 2vmax;
        overflow: hidden;
        .title {
          font-size: 1vmax;
          padding: 1vmax;
        }
      }
      .tableInfoDivider >* {
          flex: 0 5 13.3vmax;
      }
    }    
  }
  .filtersContainer {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .menu {
      z-index: 100;
      width: 20vw;
      height: 80%;
      top: 10vh;
      right: 0;
      background-color: var(--beige);
      border-radius: 2vmax 0 0 2vmax;
      position: absolute;
    }
    .background {
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 10;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 100%;
      height: 100%;
    }
  }
}

.filterButton {
  background-color: var(--orange);
  justify-content: center;
  align-items: center;
  border-radius: 2vmax;
  width: 2.5vw;
  height: 5vh;
  overflow: hidden;
  .svg {
    font-size: 1vmax;
    color: var(--beige)
  }
}

.errorComponent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.noDataComponent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loadingContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  .spinner {
    height: fit-content;
    width: fit-content;
    border: 2vmax solid var(--black);
    border-color: var(--black) transparent var(--black) transparent;
    border-radius: 10vmax;
    animation: spin 2s linear infinite;
  }
}

.locationHandler {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  .clearButton {
    height: fit-content;
    width: fit-content;
    .button {
      background-color: rgba(0, 0, 0, 0);
      transform: rotateY(180deg);
      .svg {
        font-size: 1.5vmax;
        color: var(--grey)
      }
    }
  }
  .location {
    display: flex;
    .button {
      background-color: rgba(0, 0, 0, 0);
      text-decoration: none;
    }
    .button:hover {
      text-decoration: underline var(--grey);
      cursor: pointer;
    }
  }
}

/* Tools */

/* Works */

/* Contact */

.contactContainer {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0 0 2vh 0;
  justify-content: space-between;
  .linksContainer {
    width: 50%;
    height: 100%;
    border-radius: 2vmax;
    padding: 1vh 1vw 1vh 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .link {
      gap: 2vw;
      display: flex;
      align-items: center;
      height: fit-content;
      .subtitle {
        border-radius: 2vmax;
        text-decoration: none;
      }
    }
  }
  .messageContainer {
    width: 100%;
    height: 100%;
    font-size: 5vmax;
    .divisor {
      display: flex;
      margin: 5vh 0 5vh 0;
      justify-content: space-between;
      align-items: center;
      .input {
        display: flex;
        text-align: left;
        height: 6vh;
        margin: 0 0 0 1vw;
        padding: 0 0 0 1vw;
        width: 87%;
        background-color: var(--darkBeige);
        border: none;
        border-radius: 1vmax;
      }
      .input:focus {
        outline: none;
      }
      .message {
        height: 50vh;
        display: flex;
        align-items: start;
        top: 0;
        border-radius: 1vmax;
      }
    }
  }
}

.tableGraphContainer {
  width: 100vw;
  height: 35vh;
  margin: 0 1vw 0 0;
}

.mapInfoSetText {
  color: var(--black);
  font-size: .9vmax;
}
.mapInfoSetContainer {
  margin: 1vmax;
}

/* Animations */

@keyframes navbarTextHover {
  from {font-size:1vmax;}
  to {font-size:1.05vmax}
}

@keyframes buttonHover {
  from {background-color: var(--aqua);}
  to {background-color: var(--darkAqua);}
}

@keyframes buttonHoverOrange {
  from {background-color: var(--orange);}
  to {background-color: var(--clickedOrange);}
}

@keyframes sliderHover {
  from {background-color: var(--beige); color: var(--black);}
  to {background-color: var(--lightBlue); color: var(--black);}
}

@keyframes fadeIn {
  from {opacity: 0%;}
  to {opacity: 100%;}
}

@keyframes fadeOut {
  from {opacity: 100%;}
  to {opacity: 0%;}
}

@keyframes mapExpand {
  from {width: 50%}
  to {width: 100%}
}

@keyframes mapContract {
  from {width: 100%}
  to {width: 50%}
}

@keyframes mapInfoExpand {
  from {width: 0}
  to {width: 40vmax}
}

@keyframes mapInfoContract {
  from {width: 40vmax}
  to {width: 0}
}

@keyframes tableInfoExpand {
  from {max-height: 0}
  to {max-height: 40vh}
}

@keyframes sliderSwitch {
  from {background-color: var(--lightBlue); color: var(--black)}
  to {background-color: var(--aqua); color: var(--beige)}
}

@keyframes expandIntroButtonTooltip {
  from {height: 4.7vmax}
  to {height: 6vmax}
}

@keyframes contractIntroButtonTooltip {
  from {height: 6vmax}
  to {height: 4.7vmax}
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}