/* Basic */

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(./assets/fonts/tommy-reg.otf) format('opentype');
  font-weight: bolder;
}

@font-face {
  font-family: 'Lato Light';
  src: local('Lato'), url(./assets/fonts/tommy-light.otf) format('opentype');
}

:root {
  --lightBeige: #fff8f2;
  --beige: #FFF3E8;
  --darkBeige: #f6e2ce;

  --lightGrey: #939598;
  --grey: #58595B;
  --black: #231F20;

  --lightAqua: #3C8985;
  --aqua: #006A62;
  --darkAqua: #014943;

  --lightOrange: #F8AF82;
  --orange: #FF914D;
  --darkOrange: #EB7E3C;
}

div#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* * {
  outline: red dashed 1px;
} */

html {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--lightBeige);
  margin: 1vh 2vw 1vh 2vw;
  height: 100%;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

button {
  border-radius: 2vmax;
  border:none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

p {
  margin: 0;
  font-family: 'Lato', serif;
}

h1 {
  margin: 0;
  font-family: 'Lato', serif;
  font-size: 5vmax;
  color:var(--black);
  font-weight:bold;
}


.title {
  font-family: 'Lato', serif;
  font-size: 3vmax;
  color:var(--black);
  font-weight:bold;
}

.subtitle {
  font-family: 'Lato Light', serif;
  font-size: 1vmax;
  color:var(--grey);
  line-height: 1.8vmax;
  font-weight:bold;
}

.indented {
  margin: 0 0 0 2vw;
}

.break {
  flex-basis: 100%;
  height: 1vh;
  width: 100%;
}

.arrowButtonContainer {
  height: 100%;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  .button {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
  }
}

.hidden {
  height: 0 !important;
}

/* Header */

.headerContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  .logoContainer {
    display: inline-flex;
    position: relative;
    width: fit-content;
    height: 20vh;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
  } 
  .logo {
    width: fit-content;
    height:10vmax;
  }
  .text {
    height: 30vh;
    width: fit-content;
    max-width: 30vw;
  }
}

/* Navbar */

.navbarContainer {
  height: 5vh;
  width: 50%;
  flex-wrap: nowrap;
  border-radius: 2vmax;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  float: right;
  .button {
    width: fit-content;
    height: 100%;
    padding: 0 1vw 0 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    text-decoration: none;
    opacity: 100;
    border-radius: 1vmax;
    transition: all 0.5s;
    .subtitle {
      text-align: center;
      font-size: 1vmax;
      white-space: nowrap;
      color:var(--black);
    }
  }
  .button:hover {
    background-color: var(--aqua);
  }
  .button:hover > .subtitle {
    color:var(--beige)
  }
  .active {
    background-color: var(--darkAqua);
  }
  .active .subtitle {
    color: var(--beige);
  }
}

/* Footer */

.footerContainer {
  margin: 3vh 0 0 0;
  display: flex;
  z-index: -1;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0;
  height: 8vh;
  border-radius: 2vmax 2vmax 0 0;
  background-color: var(--aqua);
  .subtitle {
    font-size: .75vmax;
    color:var(--beige);
  }

}

/* Homepage */

.homepageContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  height: fit-content;
  gap: 3vh;
  .infoContainer {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    width: 100%;
    height: 100%;
    .text {
      width: 100%;
      height: 100%;
      display:flex;
      flex-direction: column;
      gap: 3vh;
    }
    .buttonsContainer{
      height: 100%;
      width: 100%;
      .buttons {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .homeButton {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 1.5vmax;
          background-color: var(--orange);
          height: 5vw;
          width: 5vw;
          text-decoration: none;
          .sidebar {
            width: fit-content;
            display: flex;
            justify-content: center;
            text-wrap: nowrap;
            height: 30%;
            background-color: var(--orange);
            border-radius: 1vmax;
            padding: 1vh 1vw 1vh 1vw;
            position: relative;
            z-index: -1;
            .subtitle {
              color: var(--beige);
              font-size: 0.8vmax;
            }
          }
          .icon {
            font-size: 2.5vmax;
            color:var(--beige);
            position: absolute;
          }
        }
      }
    }
  }
  .carouselContainer {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    .background {
      background-color: var(--darkBeige);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 55vh;
      width: 100%;
      padding: 1vmax;
      border-radius: 2vmax;
      .photos {
        display: flex;
        height: 100%;
        border-radius: 2vmax;
        overflow: hidden;
        .photoContainer {
          height: 100%;
          width: 100%;
          overflow: hidden;
          .image {
            align-self: center;
            object-fit:contain;
          }
        }
      }
    }
    .textContainer {
      width: 100%;
      height: 3vh;
      display: flex;
      align-items: center;
      justify-content: center;
      .subtitle {
        font-size: 0.8vmax;
        margin: 0;
      }
    }
  }
}

/* About */

.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3vh;
  height: 100%;
  .info {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    height: fit-content;
    width: 100%;
  }
  .ourTeamTitle {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    .bar {
      width: 75%;
      height: 3vh;
      border-radius: 2vmax;
      background-color: var(--orange);
      color: var(--orange);
      align-self: center;
    }
  }
  .background:hover {
    cursor: pointer;
  }
  .carouselContainer {
    display: flex;
    justify-content: space-between;
    background-color: var(--darkBeige);
    gap: 3vw;
    border-radius: 2vmax;
    height: 40vh;
    overflow: hidden;
    width: 100%;
    .carousel {
      padding: 1vh 1vw 1vh 1vw;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10vw;
      .photoContainer {
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        .image {
          height: fit-content;
          width: 100%;
          border-radius: 30vmax;
        }
          .description {
            opacity: 0;
            display: inline-block;
            color: var(--black);
            position: absolute;
          }
          .subtitle {
            margin: auto;
            text-align: center;
            bottom: 25vh;
          }
        }
        .photoContainer:not(.noHover):hover > .image {
          opacity: 50%;
        }
        .photoContainer:not(.noHover):hover > .description {
            opacity: 100%;
        }
    }
  }
  .employeeInfo {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 105%;
    height: 100%;
    .content {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 70%;
      width: 70%;
      margin: auto;
      background-color: var(--beige);
      border-radius: 2vmax;
      padding: 1vh 1vw 1vh 1vw;
      z-index: 100;
      display: flex;
      flex-direction: column;
      .info {
        display: flex;
        .image {
          opacity: 100%;
          height: 40vh;
          border-radius: 2vmax;
        }
      }
    }
  }
}

/* Spectra */

.spectraContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3vh;
  height: 80vh;
  .header {
    display:flex;
    width: 100%;
    height: fit-content;
    justify-content:space-between;
    align-items: center;
    .slider {
        width: 5vw;
        height: 5vh;
        padding: 0.5vh 0.5vw 0.5vh 0.5vw;
        background-color: var(--aqua);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-radius: 2vmax;
        cursor: pointer;
        .button {
          width: 1vw;
          height: 2vh;
          padding: 1vh 1vw 1vh 1vw;
          border-radius: 2vmax;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: var(--beige);
          .icon {
            font-size: 1.2vmax;
            color: var(--aqua);
          }
      }
    }
    .slider[data-isMap="true"] {
      justify-content: flex-end;
    }
    .slider[data-isMap="true"] > .button {
      background-color: var(--lightAqua);
    }
    .slider[data-isMap="true"] > .button .icon {
      color: var(--beige);
    }
  }
  .mapContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 3vh;
    .header {
      width: 100%;
      height: fit-content;
      display:flex;
      justify-content: space-between;
    }
    .mapAndInfo {
      display: flex;
      height: 100%;
      width: 100%;
      #map {
        z-index: 1;
        border-radius: 2vmax;
        display: flex;
        height: 100%;
        width: 100%;
        overflow: hidden;
        .full-height-map {
          height: 100%;
          width: 100%;
          .marker {
            font-size: 1.2vmax;
            color: var(--orange);
          }
        }
      }
      .info {
        display: block;
        background-color: var(--beige);
        width: 100%;
        height: 80vh;
        margin: 1vh 0 0 1vw;
        overflow: hidden;
        border-radius: 2vmax;
      }
      .hidden {
        width: 0;
      }
    }
  }
  .tableContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 0 0;
    height: 100%;
    width: 100%;
    .header {
      width: 100%;
      height: fit-content;
      display:flex;
      justify-content: space-between;
    }
    .infoContainer {
      display: flex;
      width: 100%;
      height: 35vh;
      .tableInfoDivider {
        height: inherit;
        width: 100%;
        margin: 2vh 1vw 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: var(--lightAqua);
        border-radius: 2vmax;
        overflow: hidden;
        .title {
          font-size: 1vmax;
          padding: 1vmax;
        }
      }
      .tableInfoDivider >* {
          flex: 0 5 13.3vmax;
      }
    }    
  }
  .filtersContainer {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 105%;
    height: 100%;
    .menu {
      z-index: 100;
      width: 25vw;
      height: 80%;
      top: 10vh;
      right: 0;
      background-color: var(--beige);
      border-radius: 2vmax 0 0 2vmax;
      position: absolute;
    }
  }
}

.filterButton {
  background-color: var(--orange);
  justify-content: center;
  align-items: center;
  border-radius: 2vmax;
  width: 2.5vw;
  height: 5vh;
  overflow: hidden;
  .svg {
    font-size: 1vmax;
    color: var(--beige)
  }
}

.errorComponent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.noDataComponent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loadingContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  .spinner {
    height: fit-content;
    width: fit-content;
    border: 2vmax solid var(--black);
    border-color: var(--black) transparent var(--black) transparent;
    border-radius: 10vmax;
    animation: spin 2s linear infinite;
  }
}

.locationHandler {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  .clearButton {
    height: fit-content;
    width: fit-content;
    .button {
      background-color: rgba(0, 0, 0, 0);
      transform: rotateY(180deg);
      .svg {
        font-size: 1.5vmax;
        color: var(--grey)
      }
    }
  }
  .location {
    display: flex;
    .button {
      background-color: rgba(0, 0, 0, 0);
      text-decoration: none;
    }
    .button:hover {
      text-decoration: underline var(--grey);
      cursor: pointer;
    }
  }
}

/* Tools */

/* Works */

/* Contact */

.contactContainer {
  width: 100%;
  height: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: space-between;
  .linksContainer {
    width: 50%;
    border-radius: 2vmax;
    display: flex;
    gap: 1vh;
    flex-direction: column;
    justify-content: space-between;
    .link {
      gap: 2vw;
      display: flex;
      align-items: center;
      height: fit-content;
      .subtitle {
        border-radius: 2vmax;
        text-decoration: none;
      }
    }
  }
  .formContainer {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    width: 100%;
    font-size: 5vmax;
    .form {
      gap: 1vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      .divisor {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .input {
          text-align: left;
          height: 5vh;
          padding: 0 0 0 1vw;
          width: 85%;
          background-color: var(--darkBeige);
          border: none;
          border-radius: 1vmax;
        }
        .input:focus {
          outline: none;
        }
        .messageContainer {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          border-radius: 1vmax;
          background-color: var(--darkBeige);
          padding: 0 0 0 1vw;
          height: 60vh;
          width: 85%;
          .message {
            padding: 0;
            width: 100%;
            text-align: left;
            height: 100%;
            border-radius: 1vmax;
          }
          .message:focus {
            outline: none;
          }
        }
      }
      .submit {
        margin: 0 1vw 1vh 0;
        width: 3vw;
        height: 3vw;
        position: relative;
        right: 0;
        background-color: var(--orange);
        .subtitle {
          color: white;
        }
      }
    }
  }
}

.tableGraphContainer {
  width: 100vw;
  height: 35vh;
  margin: 0 1vw 0 0;
}

.mapInfoSetText {
  color: var(--black);
  font-size: .9vmax;
}
.mapInfoSetContainer {
  margin: 1vmax;
}

/* Animations */

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}